div{
    display: grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: auto;
    grid-template-areas: "header header header"
    "nav main aside"
    "footer footer footer";
}

header{
    background-color: blue;
    color: white;
    padding: 30px;
    grid-area: header;
}
header a{
    padding: 10px;
}


nav {
    background-color: yellow;
    grid-area: nav;
    color: blue;

}

main {
    color: white;
    background-color:darkblue;
    grid-area: main;
    display:100px;
}


aside {
    background-color:lightgreen;
    grid-area: aside;
    padding-top: 10px;
}

footer {
    background-color: darkgreen;
    grid-area: footer;
}